/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*General elements*/
* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/body-background.jpg');
    background-size: cover;
    z-index: 1;
    min-height: 100vh;
}

p, a {
    margin: 0;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

header {
    height: 80px;
    background: black;
}

header a {
    display: inline-block;
    position: absolute;
    margin-left: 20px;
    margin-top: 26px;
    margin-bottom: 26px;
    top: 0px;
    left: 0px;
}

nav {
    width: 100%;
}

input[type="radio"] {
    display: none;
}

/*Specific elements*/
.layout-wrap {
    position: relative;
    min-height: calc(100vh - 80px);
    width: 100%;
    max-width: 1079px;
    padding: 0px 20px;
    margin: 0 auto;
}

.search-box {
    position: absolute;
    margin-right: 20px;
    margin-top: 28px;
    margin-bottom: 28px;
    top: 0px;
    right: 0px;
}

.page-body {
    background: rgba(102,102,102,0.8);
    padding: 20px;
}

/*Dynamically change with JS*/
.notifications {
    display: none;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background: lightgrey;
    padding: 0px 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

/*Helper class*/
.justify {
    text-align: justify;
}

.justify:after {
    content: "";
    display: inline-block;
    width: 100%;
}

/*============
NAVIGATION
============*/
.nav-section {
    display: inline-block;
    position: relative;
    height: 160px;
    width: 31%;
    background: black;
    vertical-align: top;
}

.nav-section:nth-child(1) {
    background-image: url('../img/action-report-new.png');
    background-size: 100px 100px;
    background-position: 50% 130%;
    background-repeat: no-repeat;
}

.nav-section:nth-child(2) {
    background-image: url('../img/action-report-top.png');
    background-size: 100px 100px;
    background-position: 50% 130%;
    background-repeat: no-repeat;
}

.nav-section:nth-child(3) {
    background-image: url('../img/actions-help.png');
    background-size: 100px 100px;
    background-position: 50% 130%;
    background-repeat: no-repeat;
}

.nav-section > p {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.nav-section > p > span {
    display: block;
}

.menu {
    position: absolute;
    width: 100%;
    top: 125px;
    z-index: 3;
}

.menu-hint {
    position: relative;
    height: 35px;
    line-height: 35px;
    width: 100%;
    background:lightgrey;
    padding: 0px 20px;
    bottom: 0px;
    border: 1px solid lightgrey;
    border-bottom: 0px;
}

.menu-hint p {
    max-height: 35px;
}

.arrow {
    position: absolute;
    height: 10px;
    width: 12px;
    top: 12px;
    right: 20px;
}

.arrow img {
    text-align: right;
    height: 10px;
    width: 12px;
    vertical-align: top;
    transform: rotate(0deg);
    transition: transform 0.4s;
}

.action-list {
    height: 0px;
    max-height: 0px;
    width: 100%;
    background: white;
    margin: 0px;
    top: 185px;
    border: 1px solid lightgrey;
    border-top: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

.nav-section:hover .action-list {
    height: auto;
    max-height:500px;
}

.nav-section:hover .menu {
    box-shadow: 3px 5px 5px rgba(0,0,0,0.4);
}

.nav-section:hover .menu-hint {
    background: rgba(255, 255, 255 , 0.9);
}

.nav-section:hover .menu-hint .arrow img {
    transform: rotate(180deg);
}

.action-list > li {
    height: 35px;
    line-height: 35px;
    padding: 0px 20px;
}

.action-list li > a {
    display: block;
    border-bottom: 1px solid lightgrey;
}

.action-list li:last-child > a {
    border: 0px;
}

/*============
TABS
============*/

.tabs {
    height: 600px;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.tabs > label {
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 23.5%;
    background: #333;
    color: white;
    cursor: pointer;
    vertical-align: top;
    overflow: hidden;
}

#quick-reports, #fmy-folders, #my-team-folders, #public-folders {
    display: none;
    position: absolute;
    height:calc(100% - 40px);
    width: 100%;
    background: lightgrey;
    padding:20px;
    top: 40px;
    z-index: 2;
}

#quickReports:checked ~ #quick-reports {
    display: block;
}

#quickReports:checked ~ [for~="quickReports"] {
    background: lightgrey;
    color: black;
}

#fmyFolders:checked ~ #fmy-folders {
    display: block;
}

#fmyFolders:checked ~ [for~="fmyFolders"] {
    background: lightgrey;
    color: black;
}

#myTeamFolders:checked ~ #my-team-folders {
    display: block;
}

#myTeamFolders:checked ~ [for~="myTeamFolders"] {
    background: lightgrey;
    color: black;
}

#publicFolders:checked ~ #public-folders {
    display: block;
}

#publicFolders:checked ~ [for~="publicFolders"] {
    background: lightgrey;
    color: black;
}

/*Image icons*/
#quick-reports > div > img, #my-team-folders > div > img {
    cursor: pointer;
    float: right;
    height: 40px;
    width: 40px;
    background: white;
    padding: 10px;
}

#fmy-folders > div > img, #public-folders > div > img {
    cursor: pointer;
    float: right;
    height: 40px;
    padding: 10px;
    width: 40px;
}

/*Form*/
.enterSite {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.enterSite fieldset {
    height: 41px;
    background: #c8c8c8;
    padding:7px;
    margin-bottom: 20px;
    border: 1px solid #b8b8b8;
    overflow: hidden;
}

.enterSite legend {
    float: left;
    height:25px;
    line-height: 25px;
    width: 20%;
    overflow: hidden;
}

.wrapLabelInput {
    display: inline-block;
    width: 39%;
    overflow: hidden;
}

.wrapLabelInput label, .enterSite input {
    display: inline-block;
    vertical-align: top;
}

.wrapLabelInput label {
    height: 25px;
    line-height: 25px;
    width: 45px;
}

.wrapLabelInput input {
    height: 25px;
    width: calc(100% - 50px);
    padding: 2px;
    border: 0px;
}

.enterSite input[type="submit"] {
    float: right;
    height: 35px;
    line-height: 35px;
    width: 100px;
    background: black;
    color: white;
    padding: 0;
    border: 0;
}

/*iframe*/
.tabs iframe {
    height: calc(100% - 40px);
    width: 100%;
    border: 0px;
}

/*Keyboard accessibility*/
:focus {
    background: pink!important;
    border: 0px!important;
    outline: none!important;
}

/*ICON FONTS*/
@font-face {
    font-family: 'icons';
    src:url('fonts/icons.eot?-3a50i6');
    src:url('fonts/icons.eot?#iefix-3a50i6') format('embedded-opentype'),
        url('fonts/icons.woff?-3a50i6') format('woff'),
        url('fonts/icons.ttf?-3a50i6') format('truetype'),
        url('fonts/icons.svg?-3a50i6#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star-o:before {
    content: "\f006";
}
.icon-external-link:before {
    content: "\f08e";
}
.icon-copy:before {
    content: "\f0c5";
}
.icon-folder-open-o:before {
    content: "\f115";
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
